body {
background-color: white;
}

.header {
  padding: 60px;
  text-align: left;
  font-size: 30px;
  background-color: gray;
}
ul li a.active {
  background-color: lime;

}

.taskbar {
  list-style-type: none;
  background-color: gray;
  position: fixed;
  bottom: 0;
  width: 100%;

}
